#formSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  min-height:60%;
}
/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#submitBtn{
  display:flex;
  width: 100%;
  justify-content: center;
  margin-top:15px ;
}

  /* Estilo dos campos de input */
  input,
  select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Estilo do botão de cadastro */
  button {
    padding: 10px 20px;
    background-color: #00b46d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover{
    background-color: #098151;
  }

  
  /* button:hover {
    background-color: #45a049;
  }
   */
  /* Estilo do título */
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  label{
    display: inline;
    font-weight: bold;
    text-align: center;
    color:#000;
  }
  
  /* Estilo do placeholder nos inputs */
  input::placeholder {
    color: #888;
    font-style: italic;
  }
  
  /* Estilo do form em estado de carregamento */
  form.loading input,
  form.loading select,
  form.loading button {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  /* Mensagens de erro (caso necessário) */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  